# Log-Dateien ignorieren
logs/bot.log
logs/error.log
logs/infos.log
logs/log.log

#data Ordner Ignorieren
data/
downloads/

# Cookie File IGnoriere
cookies.txt
cookies1.txt
convert_cookies.py

# Ohter Ignore
test/
test.py
ideas.txt


# Umgebungsvariablen und Einstellungen ignorieren
.env
settings.py
config.py