# Log-Dateien ignorieren
logs/bot.log
logs/error.log
logs/infos.log
logs/log.log

#data Ordner Ignorieren
data/
downloads/

# Cookie File IGnoriere
cookies.txt
cookies1.txt
convert_cookies.py

# Ohter Ignore
B-Models/
TestBot
TestBot/
SelfBot/
logs/
cookie/
uploaded_audio/
.vscode/
test.py
ideas.txt
JsPID1.txt
PyPID1.txt


# Umgebungsvariablen und Einstellungen ignorieren
.env
settings.py
config.py